{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <div class="container-fluid vh-100 p-5" style="background-color:#7eb8da">
        <div class="container">
            <form method="post">

                <div class="row">
                    <div class="col-lg-6 offset-lg-3 bg-dark p-4 rounded-lg">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <h1 class="mb-3 font-weight-normal text-white text-center">Please sign in</h1>
                                <label for="inputUsername" class="text-white">Username</label>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" required autofocus>
                                <label for="inputPassword" class="text-white">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control mb-4" required>

                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                                #}
                                <div class="row justify-content-center">
                                    <button class="btn btn-primary mt-3" type="submit">
                                        Sign in
                                    </button>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="row mx-auto mt-3 text-white"><p>Not registered yet ? Click <a href="{{ path('user_create') }}">here</a></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </form>
        </div>
    </div>

{% endblock %}
